._*
.deps
.libs
*.in
*.lo
*.la
*.o
Makefile
aclocal.m4
build-arch-stamp
build-indep-stamp
config.guess
config.h
config.log
config.status
config.sub
configure
configure-stamp
debian/debhelper.log
debian/files
debian/substvars
debian/tmp/
libtool
ltmain.sh
smqueue/smqueue
stamp-h1
testing/sminterface
testing/smrelaytest
testing/smtest
