._*
*.a
*.o
*.la
*.lo
.deps
.libs
Makefile
Makefile.in
depcomp
install-sh
missing
aclocal.m4
autom4te.cache/
build-arch-stamp
build-indep-stamp
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
debian/debhelper.log
debian/files
debian/smqueue
debian/smqueue.debhelper.log
debian/smqueue.substvars
debian/substvars
libtool
ltmain.sh
smqueue/smqueue
smqueue/smqueue.example.sql
stamp-h1
testing/sminterface
testing/smrelaytest
testing/smtest
package/tmp
