Source: smqueue-public
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7), libtool, pkg-config, autoconf, libsqlite3-dev, libosip2-dev, libzmq3-dev
Standards-Version: 3.7.3

Package: smqueue-public
Provides: smqueue
Section: comm
Priority: optional
Architecture: any
Essential: no
Depends: sqlite3, libosip2-4, libc6, pkg-config, libzmq1, supervisor
Description: Range Networks - SMQueue RFC-3428 Store and Forward Server

