Source: smqueue
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7), libosip2-dev, pkg-config, autoconf, libtool
Standards-Version: 3.7.3

Package: smqueue
Section: comm
Priority: optional
Architecture: i386
Essential: no
Depends: sqlite3, libosip2-4, libc6-i686, pkg-config, range-libzmq
Description: Range Networks - SMQueue RFC-3428 Store and Forward Server

